<!DOCTYPE html>
<html lang="en">
  <header class="container">
    <h1>Angular testing</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem ipsa aliquam magni, vero aut facere consequatur dolorem exercitationem rerum, aliquid at, itaque temporibus! Expedita, temporibus. Officiis labore consequuntur officia corrupti!</p>
    <nav>
      <ul>
        <li><a href="/" id="home-link">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a routerLink="/pico-preview">Pico Preview</a></li>
        </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</html>

